
.content .content-right .scroll-content .account-saving .has-conntent-saving .saving-item {
    border-bottom: 2px solid rgba(239,241,248,.6);
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
}
.content .content-right .scroll-content .account-saving .has-conntent-saving .saving-item .oval {
    padding: 0;
    text-align: center;
    margin-right: 16px;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 60px;
}
.content .content-right .scroll-content .account-saving .has-conntent-saving .saving-item .center .medium, .content .content-right .scroll-content .account-saving .has-conntent-saving .saving-item .center h6 {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 14px;
    text-transform: initial;
    justify-content: flex-start;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    word-break: break-word;
    display: flex;
    align-items: center;
    padding: 0;
}
.content .content-right .scroll-content .account-saving .has-conntent-saving .saving-item .center .medium {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.content .content-right .scroll-content .account-saving .has-conntent-saving .saving-item .center .medium, .content .content-right .scroll-content .account-saving .has-conntent-saving .saving-item .center h6 {
    margin-bottom: 5px;
}
.content .content-right .scroll-content .account-saving .has-conntent-saving .saving-item .center .medium .account-number {
    min-width: 60%;
    font-weight: 400;
    margin-bottom: 0;
    font-size: 14px;
    text-transform: initial;
    justify-content: flex-start;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    word-break: break-word;
    display: flex;
    align-items: center;
    padding: 0;
}
.content .content-right .scroll-content .account-saving .has-conntent-saving .saving-item .center .medium .gr_curr {
    min-width: 40%;
}
.content   .content-right   .scroll-content   .account-saving   .has-conntent-saving   .saving-item   .center   .medium   .curren {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    font-size: 14px;
    text-transform: initial;
    word-break: break-word;
    padding: 0;
}
.content .content-right .scroll-content .account-saving .has-conntent-saving .saving-item .center .medium h6 span {
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    font-size: 14px;
    text-transform: initial;
    word-break: break-word;
    padding: 0;
}

.content .content-right .scroll-content .account-saving .has-conntent-saving .saving-item:hover {
    margin-left: -24px;
    margin-right: -24px;
    padding-left: 24px;
    padding-right: 24px;
    background: #e2d8ef;
    border-top: 2px solid rgba(239,241,248,.6);
    margin-top: -2px;
}