
.no-content {
    margin-top: 32px;
    text-align: center;
}

.no-content img {
    display: block;
    margin: auto auto 16px;
    width: 78px;
    height: auto;
}

.no-content span {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
}