.saving-home-normal .saving-action-inquiry {
    width: 400px;
    min-height: 77px;
    background-color: #fff;
    border-radius: 5px;
    margin: auto;
    padding: 16px;
    display: flex;
}
.saving-home-normal .saving-action-inquiry .icon-inquiry {
    width: 45px;
    height: 45px;
    border-radius: 100px;
    background-color: #ad8ad8;
    padding: 10px;
    margin-right: 8px;
}
.saving-home-normal .saving-action-inquiry .icon-inquiry img {
    width: 24px;
    height: 24px;
}
.saving-home-normal .list-saving {
    width: 400px;
    margin: 16px auto auto;
}

.saving-home-normal .saving-action-inquiry .content .title {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
.saving-home-normal .saving-action-inquiry .content .action-link {
    color: #ff9800;
    cursor: pointer;
    outline: 0;
}
.saving-home-normal .list-saving .image-cover {
    height: 124px;
    text-align: center;
    padding: 24px 48px;
    color: #fff;
}
.saving-home-normal .list-saving .image-cover .create-package {
    outline: 0;
    margin: 16px auto auto;
    width: 166px;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    color: #ff9800;
    text-align: center;
    cursor: pointer;
}
.saving-home-normal .list-saving .title {
    text-align: center;
    color: #ad8ad8;
    font-weight: 400;
    font-size: 12px;
    margin-top: 16px;
}

.saving-home-normal .list-saving .card-saving-item {
    background-color: #fff;
    border-radius: 5px;
    padding: 16px 18px;
    display: flex;
    margin-top: 8px;
}

.saving-home-normal .list-saving .card-saving-item .icon-saving {
    margin-right: 16px;
    align-self: center;
}

.saving-home-normal .list-saving .card-saving-item .icon-saving img {
    width: 24px;
    height: 24px;
}
.saving-home-normal .list-saving .card-saving-item .saving-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.saving-home-normal .list-saving .card-saving-item .saving-info .saving-name {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}
.saving-home-normal .list-saving .card-saving-item .saving-info .saving-amount, .saving-home-normal .list-saving .card-saving-item .saving-info .saving-finalization, .saving-home-normal .list-saving .card-saving-item .saving-info .saving-number {
    font-size: 12px;
}
.saving-home-normal .list-saving .card-saving-item .saving-info .saving-finalization {
    display: flex;
    justify-content: space-between;
}
.saving-home-normal .list-saving .card-saving-item .saving-info .saving-finalization .action {
    color: #ff9800;
    cursor: pointer;
}
/*End Saving*/


