.search-input {
    position: relative;
}

.bill-recurring input[type=text] {
    border: 1px solid #e2d8ee;
    height: 44px;
    background-image: "url(/assets/images/icons/bill/bill-add-bill/search_normal.3841bb54b2df9a8bde6c.svg)";
    background-position: 9px 13px;
    background-repeat: no-repeat;
    padding-left: 30px;
}