.stock {
    display: flex;
    justify-content: space-between;
    width: 388px;
    padding: 16px;
    background: #fcfcfc;
    border: 1px solid #e6e9ee;
    border-radius: 5px;
    margin-bottom: 8px;
}

.stock:hover {
    box-shadow: 0 6px 16px 0 rgb(173 138 216 / 40%);
    text-decoration: none;
    cursor: pointer;
}

.stock .stock-info {
    display: flex;
    align-items: center;
}

.stock .stock-info img {
    height: 40px;
    margin-right: 8px;
}

.stock .tranfer-detail-icon {
    display: flex;
    align-items: center;
    color: #ff9800;
}