

.schedule-create .select-type {
    max-width: 545px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.schedule-create .select-type .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.schedule-create .select-type .header-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}

.schedule-create .select-type .header-note {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.schedule-create .select-type .card-option-schedule {
    background-color: #fff;
    width: 256px;
    height: 92px;
    padding: 16px 20px;
    border-radius: 5px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.schedule-create .select-type .card-option-schedule .image-type {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
}

.schedule-create .select-type .card-option-schedule .image-type.internal {
    margin-bottom: 8px;
    background-image: url(../../../../common/images/transfer/internal.png);
}

.schedule-create .select-type .card-option-schedule .text-type {
    font-size: 14px;
}

.schedule-create .select-type .card-option-schedule .image-type.external {
    margin-bottom: 8px;
    background-image: url(../../../../common/images/transfer/interbank.png);
}

.schedule-create .select-type .card-option-schedule .image-type.atm {
    margin-bottom: 8px;
    background-image: url(../../../../common/images/transfer/napas.png);
}

.schedule-create .select-type .card-option-schedule .image-type.stock {
    margin-bottom: 8px;
    background-image: url(../../../../common/images/transfer/icons-stock.png);
}


@media only screen and (max-width: 1439px) {
    .schedule {
        width: 100%;
        display: flex;
        color: #42236a;
        justify-content: center;
        font-size: 14px;
        padding-left: 8px;
        padding-right: 8px;
    }

    .schedule .edit-area {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .schedule-create {
        width: 800px;
    }

    #schedule-setting {
        width: 495px;
        justify-content: center;
    }

    #schedule-setting .tab {
        overflow: hidden;
        justify-content: center;
        width: 100%;
        border-bottom: 1px solid #e0e1e7;
    }

    #schedule-setting .tab .tab-active {
        color: #42236a;
        font-weight: 500;
        border-bottom: 2px solid #7b35bb;
    }

    #schedule-setting .tab .tablinks {
        color: #ad8ad8;
        font-size: 16px;
    }

    #schedule-setting .tab button {
        background-color: inherit;
        border: none;
        outline: 0;
        width: 165px;
        padding: 10px 16px;
        font-size: 17px;
    }

    #schedule-setting #daily-schedule-setting, #schedule-setting #weekly-schedule-setting {
        width: 100%;
    }

    #schedule-setting .schedule-description {
        width: 100%;
        height: 72px;
        display: flex;
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        color: #42236a;
        line-height: 1.5;
        font-size: 16px;
        margin-top: 25px;
        align-items: center;
        justify-content: center;
    }

    #schedule-setting .schedule-description .radio-select-type {
        margin-right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        cursor: pointer;
    }

    #schedule-setting .schedule-description .radio-select-type .wrap-input-radio {
        top: -4px;
        display: block;
        position: relative;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin-right: 30px;
    }

    #schedule-setting .schedule-description .radio-select-type span {
        margin-right: 10px;
        font-size: 14px;
    }

    #schedule-setting .schedule-description .radio-select-type .radio-checked {
        background-color: #fff;
        border: 5px solid #ff9800!important;
    }

    #schedule-setting .schedule-description .radio-select-type .wrap-input-radio .new-radio-button {
        position: absolute;
        top: 0;
        left: 0;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        border: 2px solid #c5ccd6;
    }

    #schedule-setting .radio-select-type span {
        margin-right: 10px;
        font-size: 14px;
    }

    #schedule-setting .schedule-description .radio-select-type span {
        margin-right: 10px;
        font-size: 14px;
    }

    #schedule-setting .schedule-description .radio-select-type .wrap-input-radio .new-radio-button {
        position: absolute;
        top: 0;
        left: 0;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        border: 2px solid #c5ccd6;
    }

    #schedule-setting .tab button {
        background-color: inherit;
        border: none;
        outline: 0;
        width: 165px;
        padding: 10px 16px;
        font-size: 17px;
    }

    #schedule-setting .tab button {
        background-color: inherit;
        border: none;
        outline: 0;
        width: 165px;
        padding: 10px 16px;
        font-size: 17px;
    }

    #schedule-setting .tab button {
        background-color: inherit;
        border: none;
        outline: 0;
        width: 33%;
        padding: 10px 0;
        font-size: 17px;
        text-align: center;
    }
    
    #schedule-setting .tab .tab-active {
        color: #42236a;
        font-weight: 500;
        border-bottom: 2px solid #7b35bb;
    }
}

@media screen and (max-width: 1130px) {
    #schedule-setting {
        width: 495px;
    }

    .tab {
        overflow: hidden;
        justify-content: center;
        width: 100%;
        border-bottom: 1px solid #e0e1e7;
    }

    .tab button {
        width: 165px;
    }
    
    #schedule-setting .radio-select-type {
        margin-right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        cursor: pointer;
    }

    #schedule-setting .radio-select-type .wrap-input-radio {
        top: -4px;
        display: block;
        position: relative;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin-right: 30px;
    }

    #schedule-setting .radio-select-type span {
        margin-right: 10px;
        font-size: 14px;
    }

    #schedule-setting .radio-select-type .radio-checked {
        background-color: #fff;
        border: 5px solid #ff9800!important;
    }

    #schedule-setting .radio-select-type .wrap-input-radio .new-radio-button {
        position: absolute;
        top: 0;
        left: 0;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        border: 2px solid #c5ccd6;
    }

    #schedule-setting .radio-select-type .wrap-input-radio .new-radio-button {
        position: absolute;
        top: 0;
        left: 0;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        border: 2px solid #c5ccd6;
    }
}


@media only screen and (max-width: 1129px) {
    .schedule {
        width: 100%;
        display: flex;
        color: #42236a;
        justify-content: center;
        font-size: 14px;
        padding-left: 8px;
        padding-right: 168;
    }

    .schedule .edit-area {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .schedule-create {
        width: 736px;
    }
}


@media only screen and (max-width: 767px) {
    .schedule {
        width: 100%;
        display: flex;
        color: #42236a;
        font-size: 14px;
        padding-left: 8px;
        padding-right: 8px;
    }

    .schedule .edit-area {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .schedule-create {
        padding: 16px;
        width: 100%;
    }
}

@media screen and (max-width: 575px) {
   /*Schedule detail*/
   .schedule {
        width: 100%;
        display: flex;
        color: #42236a;
        font-size: 14px;
        padding-left: 8px;
        padding-right: 8px;
    }

    .schedule .edit-area {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .schedule-create {
        width: 100%;
    }

    #schedule-setting {
        width: 100%;
        justify-content: center;
    }

    #schedule-setting .tab {
        height: 55px;
        justify-content: center;
        width: 100%;
        border-bottom: 1px solid #e0e1e7;
        display: flex;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    #schedule-setting .tab button {
        background-color: inherit;
        border: none;
        outline: 0;
        width: 33%;
        padding: 10px 0;
        font-size: 17px;
        text-align: center;
    }
    
    #schedule-setting .tab .tablinks {
        color: #ad8ad8;
        font-size: 16px;
        width: 100%;
    }

    #schedule-setting .tab .tab-active {
        color: #42236a;
        font-weight: 500;
        border-bottom: 2px solid #7b35bb;
    }
    
    #schedule-setting #daily-schedule-setting, #schedule-setting #weekly-schedule-setting {
        width: 100%;
    }

    #schedule-setting .schedule-description {
        width: 100%;
        height: 72px;
        display: flex;
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        color: #42236a;
        line-height: 1.5;
        font-size: 16px;
        margin-top: 25px;
        align-items: center;
        justify-content: center;
    }

    #schedule-setting .radio-select-type {
        margin-right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        cursor: pointer;
    }

    #schedule-setting .radio-select-type .wrap-input-radio {
        top: -4px;
        display: block;
        position: relative;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin-right: 30px;
    }

    #schedule-setting .radio-select-type .wrap-input-radio .new-radio-button {
        position: absolute;
        top: 0;
        left: 0;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        border: 2px solid #c5ccd6;
    }

    #schedule-setting .radio-select-type .radio-checked {
        background-color: #fff;
        border: 5px solid #ff9800!important;
    }

    #schedule-setting .radio-select-type span {
        margin-right: 10px;
        font-size: 14px;
    }

    #schedule-setting .radio-select-type span {
        margin-right: 10px;
        font-size: 14px;
    }

    #schedule-setting .radio-select-type .wrap-input-radio .new-radio-button {
        position: absolute;
        top: 0;
        left: 0;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        border: 2px solid #c5ccd6;
    }

    .tpb-date-picker2 input {
        transition: none;
    }

    .tpb-date-picker2 i.fa-calendar {
        position: absolute;
        font-size: 23px;
        right: 13px;
        top: 10px;
        cursor: pointer;
        color: #ff9800;
    }

    .txtHiddenInput {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        visibility: hidden;
    }

    .tpb-date-picker2 input {
        transition: none;
    }

    #schedule-setting .bot-menu1 {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        align-items: center;
        font-size: 14px;
        font-weight: 500;
    }
   /*End schedule detail*/
}
