
/* Inquiry Saving */
.tab-main {
    width: 100%;
    overflow: auto;
}
.tab-main .nav-tab {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid rgba(105, 105, 105, 0.14);
}
.tab-main .nav-tab .nav-tab-button {
    cursor: pointer;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #AD8AD8;
    outline: none;
    text-transform: capitalize;
    padding: 0 24px 20px 24px;
}
.tab-main .nav-tab .nav-tab-button {
    cursor: pointer;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #AD8AD8;
    outline: none;
    text-transform: capitalize;
    padding: 0 24px 20px 24px;
}

.tab-main .nav-tab .nav-tab-button.active {
    border-bottom: 2px solid #7b35bb;
    color: #42236a;
    font-weight: 500;
}
.row {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-wrap: wrap;
}
.content {
    margin-top: 2rem;
    width: 100%;
}
.content .content-left {
    width: 352px;
    margin-bottom: 1rem;
    padding: 0;
    margin-right: 24px;
}
.borderBottom {
    border-bottom-left-radius: 5px!important;
    border-bottom-right-radius: 5px!important;
}
.content .content-left .total-usd, .content .content-left .total-vnd {
    display: block;
    background-color: #fff;
    padding: 24px;
    text-decoration: none;
    border-radius: 5px;
    text-transform: capitalize;
}
.content .content-left .total-vnd {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.content .content-left .total-usd .title, .content .content-left .total-vnd .title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #ad8ad8;
    margin-bottom: 5px;
}
.content .content-left .total-vnd .amount {
    font-size: 30px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-bottom: 0;
    word-break: break-all;
}
.content .content-left .total-vnd .amount span {
    word-break: break-word;
}
.content .content-right {
    padding: 0;
    width: 424px;
}
.content .content-right .scroll-content {
    max-height: 100vh;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 5px;
}
.content .content-right .scroll-content .account-saving {
    display: block;
    background-color: #fff;
    padding: 24px;
    text-decoration: none;
    border-radius: 0;
    text-transform: capitalize;
    overflow: hidden;
    border-top: 2px solid rgba(239,241,248,.6);
}
.content .content-right .scroll-content .account-saving:first-child {
    border-top: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.pointer {
    outline: 0;
    cursor: pointer;
}
.content .content-right .scroll-content .account-saving .title-saving {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}
.content .content-right .scroll-content .account-saving .title-saving h4 {
    text-transform: initial;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #ad8ad8;
    margin-bottom: 0;
}
.scale, .scaleHydro {
    transition-duration: .5s;
    transition-property: transform;
    transform: rotate(180deg);
}
.content .content-right .scroll-content .account-saving .icon-down {
    height: 25px;
}
/* End inquiry saving */



@media screen and (max-width: 576px) {
    /*Inquiry saving */
    .col-sm-2 {
         flex: 0 0 16.6666666667%;
         max-width: 16.6666666667%;
     }
     .col-sm-9 {
         flex: 0 0 75%;
         max-width: 75%;
     }
    /*End inquiry saving */
 }