.main-container > .right {
    margin-left: 270px;
}


@media only screen and (max-width: 1439px) {
    /*_____Right ______*/
    .main-container > .right {
        margin-left: 270px;
    }
}

@media only screen and (max-width: 1129px) {
    /*_____Right ______*/
    .main-container > .right {
        margin-left: 0;
    }
}


@media only screen and (max-width: 767px) {
    /*_____Right ______*/
    .main-container > .right {
        margin-left: 0;
    }
}