/* Search Area*/
.search-area {
    display: flex;
}

.search-area .app-navigation-tab {
    flex-grow: 1;
}
.tab-main {
    width: 100%;
    overflow: auto;
}
.tab-main .nav-tab {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid rgba(105, 105, 105, 0.14);
}
.tab-main .nav-tab .nav-tab-button {
    cursor: pointer;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #AD8AD8;
    outline: none;
    text-transform: capitalize;
    padding: 0 24px 20px 24px;
}
.tab-main .nav-tab .nav-tab-button.active {
    border-bottom: 2px solid #7b35bb;
    color: #42236a;
    font-weight: 500;
}
.tab-main .nav-tab .nav-tab-button {
    cursor: pointer;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #AD8AD8;
    outline: none;
    text-transform: capitalize;
    padding: 0 24px 20px 24px;
}
/* End Search Area */


/*List card*/
.list-card-link {
    margin-right: -16px;
    margin-top: 5px;
}

.list-card-link .card-customize {
    display: inline-grid;
    margin-right: 16px;
    margin-bottom: 16px;
}

.list-card-link .card-link-wrapper {
    display: inline-block;
    width: 31%;
    max-width: 256px;
}

.list-card-link .card-link-wrapper .card-link {
    display: block;
    background-color: #ffffff;
    padding: 20px;
    text-decoration: none;
    border-radius: 5px;
    text-transform: capitalize;
    height: 100px;
    overflow: hidden;
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}

.shadow-btn {
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 3%);
    cursor: pointer;
}

.shadow-btn:hover {
    box-shadow: 0 6px 16px 0 rgb(173 138 216 / 40%);
    text-decoration: none;
}

.list-card-link .card-link-wrapper .card-link .card-name {
    margin-top: 5px;
}

.card-color {
    color: #42236a;
}

/*End List card*/




@media screen and (max-width: 1130px) {
    .list-card-link .card-link-wrapper {
        max-width: none;
    }
    .list-card-link .card-customize:nth-child(odd) {
        padding-right: 0;
        margin-right: 16px;
    }

    .list-card-link .card-customize {
        display: inline-block;
        width: 48%;
        margin-right: 0;
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 860px) {
    .search-area {
        display: block;
    }
}

@media screen and (max-width: 575px) {
   /* Search Area*/
   .nav-tab {
        width: max-content;
        padding: 0;
    }
   /* End Search Area */

   .list-card-link .card-link-wrapper {
        max-width: none;
    }
    .list-card-link .card-customize {
        display: block;
        width: 100%;
        margin-bottom: 16px;
    }
}
