/* Search Area*/
.search-area {
    display: flex;
}

.search-area .app-navigation-tab {
    flex-grow: 1;
}
.tab-main {
    width: 100%;
    overflow: auto;
}
.tab-main .nav-tab {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid rgba(105, 105, 105, 0.14);
}
.tab-main .nav-tab .nav-tab-button {
    cursor: pointer;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #AD8AD8;
    outline: none;
    text-transform: capitalize;
    padding: 0 24px 20px 24px;
}
.tab-main .nav-tab .nav-tab-button.active {
    border-bottom: 2px solid #7b35bb;
    color: #42236a;
    font-weight: 500;
}
.tab-main .nav-tab .nav-tab-button {
    cursor: pointer;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #AD8AD8;
    outline: none;
    text-transform: capitalize;
    padding: 0 24px 20px 24px;
}
/* End Search Area */


@media screen and (max-width: 575px) {
   /* Search Area*/
   .nav-tab {
        width: max-content;
        padding: 0;
    }
   /* End Search Area */
}
