.transfer-full-width {
    width: 100%;
}
.debit-acc-selector {
    padding: 12px 16px;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
}
.label-color {
    color: #AD8AD8;
}

.input-container {
    position: relative;
    background: #fcfcfc;
    border-radius: 5px;
    border: 1px solid #e2d8ee;
    height: 45px;
    margin-bottom: 16px;
    padding: 15px;
    font-weight: 500;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.searching {
    align-items: center;
}

.input {
    display: flex;
    height: 15px;
}
input {
    padding: 0;
}
.input-customize {
    flex-grow: 9;
    border: 0;
    background: #fcfcfc;
    font-weight: 500;
}
.searching-icon {
    height: 20px;
    cursor: pointer;
}
.dropdown {
    position: absolute;
    top: 44px;
    left: -1px;
    z-index: 1;
    border-radius: 5px;
    border: 0;
    width: calc(100% + 2px);
    background: #fff;
    display: none;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 3%);
}
.searching-input {
    height: 50px;
    padding: 15px 10px;
    display: flex;
    align-items: center;
    margin: 15px;
    border: 1px solid silver;
    border-radius: 4px;
}
.searching-input-icon {
    background: url(https://ebank.tpb.vn/retail/vX/ic_search.1268ba714d0332132f4d.svg) center/contain no-repeat;
    height: 15px;
    width: 15px;
    display: inline-block;
    flex-grow: .5;
    margin-right: 8px;
}
.input-detail {
    flex-grow: 9.5;
    border: 0;
    height: 20px;
}
.dropdown-content {
    max-height: 350px;
    overflow-y: auto;
}

.padding-left {
    padding-left: 15px;
}
.my-accounts__customize {
    margin-top: 10px;
    font-size: 12px;
}
.my-accounts__bold {
    font-weight: 700;
}
.my-accounts-detail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    font-size: 14px;
    padding: 10px 0;
    border-bottom: 1px solid #f2f4f6;
}
.padding-right {
    padding-right: 15px;
}
.my-accounts__bold {
    font-weight: 700;
}
.text-align__right {
    text-align: right;
}
.customers {
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #f2f4f6;
}
.my-accounts__bold {
    font-weight: 700;
}
.container {
    position: relative;
    padding: 0;
    margin: 10px auto auto;
    width: 100%;
}
.money-container {
    height: 45px;
    padding-right: 15px;
    padding-left: 15px;
    background: #fcfcfc;
    border-radius: 4px;
    border: 1px solid #e2d8ee;
    margin-bottom: 16px;
    position: relative;
}
.money-input {
    display: flex;
    align-items: center;
    height: 100%;
}
.money-input input {
    flex-grow: 9;
    border: 0;
    outline: 0;
    background: #fcfcfc;
    font-weight: 500;
}
.text-color__orange {
    color: #ff9800;
}
.money-input p {
    margin-bottom: 0;
}
.tooltip {
    position: relative;
}
.icon-money-qanda {
    height: 16px;
    margin-left: 5px;
    cursor: pointer;
}
.tooltip .tooltip-text {
    position: absolute;
    visibility: hidden;
    font-size: 13px;
    width: 300px;
    white-space: pre-wrap;
    background-color: #42236a;
    color: #e6e6e6;
    text-align: left;
    right: -15px;
    border-radius: 4px;
    top: 20px;
    z-index: 1;
    padding: 15px;
    transition: .4s;
    box-shadow: 0 0 40px 0 rgb(0 0 0 / 10%);
    line-height: 1.5;
    font-weight: 400;
    margin-top: 5px;
}
.tooltip .tooltip-text::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 89%;
    border-width: 9px;
    border-style: solid;
    border-color: transparent transparent #42236a;
}
.suggest {
    position: absolute;
    display: none;
    top: 44px;
    left: -1px;
    background: #fff;
    width: calc(100% + 2px);
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 3%);
}
.method {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.method-detail {
    border-radius: 5px;
    border: 1px solid #e2d8ee;
    color: #42236a;
    background: #fcfcfc;
    margin-bottom: 8px;
    font-size: 12px;
    text-align: center;
    height: 48px;
    line-height: 48px;
    font-weight: 500;
    width: 118px;
}
.method-detail:hover {
    background: #ff9800;
    transition: .4s;
    color: #fff;
    cursor: pointer;
}
.method-detail p {
    margin: 0;
}
.remarks {
    position: relative;
    background: #fcfcfc;
    border-radius: 5px;
    padding: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
    box-sizing: border-box;
    border: 1px solid #e2d8ee;
}
.textarea {
    height: 95px;
}
.input {
    display: flex;
}
input, textarea {
    color: #42236a;
    font-size: 14px;
}
input, textarea {
    padding: 0;
}
.input input, .input textarea {
    flex-grow: 9;
    border: 0;
    color: #42236a;
    background: #fcfcfc;
    font-weight: 500;
}
.input p {
    flex-grow: 1;
    text-align: right;
}
.remarks p {
    margin: 0;
}
.message-icon {
    background-image: url(https://ebank.tpb.vn/retail/vX/icons-message.d8a2d7f233767e512fad.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
}
.remark-hint {
    position: absolute;
    left: 15px;
    bottom: 15px;
}
.remark-hint .coach-mark-sticker {
    position: absolute;
    left: -15px;
    bottom: calc(100% + 15px);
}
.remark-hint .gift-icon {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 7px 12px;
    background: #ff9800;
    border-radius: 20px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}
.remark-hint .hint {
    display: inline-block;
    margin-left: 12px;
    padding: 4px 12px;
    border: 1px solid #e6e9ee;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
}

.text-color__orange {
    color: #ff9800;
}
.textarea textarea {
    resize: none;
    overflow: hidden;
}

.common-config-customize {
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 24px;
}


.common-config {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.common-detail-config {
    flex-grow: 7;
    font-weight: 500;
}
.common-config-button {
    height: 100%;
    flex-grow: 3;
    font-size: 12px;
    line-height: normal;
    text-align: right;
}
.text-link {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #ff9800;
}
.text-link-size {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 14px;
}
.common-image {
    height: 20px;
    width: 20px;
}
.toggle {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 16px;
    color: #ad8ad8;
}
.toggle-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.toggle-body {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 1px;
}
input[type=radio], input[type=checkbox] {
    box-sizing: border-box;
    padding: 0;
}
.toggle-body input {
    opacity: 0;
    width: 0;
    height: 0;
}
.toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ff9800;
    transition: .4s;
}
.toggle-round {
    border-radius: 34px;
}
.unsaved + .toggle-slider {
    background-color: #ccc;
    box-shadow: 0 0 1px #fff;
}
.toggle-slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 27px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .4s;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 34%);
    transition: .4s;
}
.toggle-round:before {
    border-radius: 50%;
}
.unsaved + .toggle-slider:before {
    transform: translateX(-22px);
}
.form-control {
    color: #42236a;
    font-size: 14px;
}
.form-control-default {
    height: 44px;
    border: 1px solid #E2D8EE;
}
input, textarea {
    padding: 0;
}
.button-container {
    display: flex;
    justify-content: center;
}
.button {
    width: 344px;
}
/*End Transfer internal*/



@media only screen and (min-width: 1440px) { 
    .transfer-wrap-component {
        width: 800px;
        display: flex;
        justify-content: center;
    }
    .transfer-container {
        position: relative;
        padding: 0;
        margin: 32px auto auto;
        width: 496px;
    }
}


@media screen and (max-width: 1130px) {
    .transfer-wrap-component {
        width: 736px;
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 767px) {
    .transfer-wrap-component {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .transfer-container {
        position: relative;
        padding: 0;
        margin: 32px auto auto;
        width: 496px;
    }
}

@media screen and (max-width: 576px) {
    .transfer-wrap-component {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .transfer-container {
        position: relative;
        padding: 0;
        margin: 32px auto auto;
        width: 100%;
    }
}

@media screen and (max-width: 575px) {
   .method-detail {
        width: 47%;
    }
    .btn-primary {
        margin-bottom: 15px;
    }
    .btn-primary, .btn-secondary, .button {
        width: 100%;
    }
}
